/* Sidebar */
.w3-sidebar {
    background-color: #1d37ab;
}

.sidebar-nav {
    margin-top: 20%;
}

.sidebar-nav a {
    color: white;
    font-size: 20px;
    margin-bottom: 5%;
}

.w3-bar-block a:hover {
    color: #1d37ab;
}

.title-amm h4 {
    font-size: 28px;
    color: rgba(255, 255, 255, 0.603);
    margin-top: 10%;
}

.art-desc {
    margin-bottom: 40px;
}

.art-desc span {
    font-size: 35px;
    font-weight: bold;
    color: #1d37ab;
}

/* Zoom Immagine */
#img01 {
    margin-top: 5%;
}

#caption {
    font-size: 40px;
    margin-top: 5%;
}

/* Main Section */
.w3-xxxlarge b {
    font-size: 100px;
}

.w3-container h1 {
    color: #1d37ab;

    margin-bottom: 3%;

    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 8px;
}

.w3-container span {
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
}

.image-section {
    margin-top: 60px;
}

.image-section img {
    margin-right: 40px;
    border: solid 3px #1d37ab;
    border-radius: 20px;
}

.intex {
    font-size: 25px;
}

p {
    font-size: 18px;
}

/* Eventi */
.event {
    padding: 20px;
    margin: 20px;
    background-color: #1d37ab;
    border-radius: 40px;
}

.event:hover {
    color: #1d37ab;
    background-color: #ffffff;

    border: 5px solid #1d37ab;
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
}

.w3-col {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 100px;
}

/* Edit Artefatti */
.add-artifact {
    background-color: #1d37ab;
    color: #ffffff;
}
